{% extends 'base.html' %}

{% load static %}

{% block head %}
<script src="https://kit.fontawesome.com/d6418d4463.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<h2 class="title center">Residencias Lomas Suite II</h2>
<!-- banner -->
<!-- https://codepen.io/jaorsh/pen/OMRBmw -->
<div class="full-container">
    <div class="column a">
        <div class="inner">
            <h1 class="main-title center">Manejo de cámaras</h1>
            <p class="paragraph">Aprende a manejar las cámaras de la residencia, cambiar las visiones, mejorar la calidad y moverlas. </p>
            <a class="btn center" href="{% url 'manejoCamaras' %}">Ir ahora!</a>
        </div>
    </div>
    <div class="column b">
        <div class="inner">
            <h1 class="main-title center">Tiempos de grabación</h1>
            <p class="paragraph">Descubre como acceder a horas específicas de la grabación, usar el cámara lenta y más.<p>
            <a class="btn center" href="{% url 'manejoTiempos' %}">Ir ahora!</a>
        </div>
    </div>
</div>



{% endblock %}